
/*NAVBAR*/

#navegacionfg {
    .fondograyy {
        background-color: rgb(189, 186, 186);
        #fondogray {
            justify-content: center;
            background-color: rgb(151, 149, 149);
            a {
                text-decoration: none;
                color: white;
            }                                                                    
                                
        }
    }

}

// header #fondogray { 
//     background-color: rgb(151, 149, 149);  
// }



/*FOOTERR*/


.fondogris{
    background-color: rgb(189, 186, 186);
    a{
        text-decoration: none;
        color: rgba(37, 36, 36, 0.459);
    }
}




    /* carousel */

#carouselExampleSlidesOnly{
    img {
       height: 60vh;
       width: 100%;
    }
}







